.authPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: transparent;

  .authCard {
    width: 400px;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 12px;

    .title {
      user-select: none;
      text-align: "center";
      margin-bottom: 24px;
    }

    .ant-form-item {
      margin-bottom: 20px;

      .ant-input {
        border-radius: 8px;
        height: 50px;
        font-size: 16px;
      }
    }

    .ant-space {
      width: 100%;
    }

    .ant-btn {
      height: 50px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
    }
  }
  &-redirectBtn {
    color: darkgrey;
    background-color: #fff;
  }
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 40px;

  .ant-spin {
    &-dot {
      font-size: 40px; // Увеличиваем спиннер
    }

    &-text {
      font-size: 16px;
      color: #666;
    }
  }
}
